/public/

# Local Netlify folder
.netlify
.DS_Store
.DS_Store
.DS_Store
.DS_Store
static/.DS_Store
resources/_gen/assets/scss/sass/main.scss_c4f2e64540c8a1c56f64195833e4e2df.content
static/.DS_Store
.DS_Store
