<form method="post" name="QuoteForm" action="/quote-requested/" netlify>

  <p class="screen-reader-text">
    <label>Don't fill this out if you're human: <input name="bot-field" /></label>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-user-name">Name</label>
    <input type="text" name="name" id="contact-user-name" class="form-input" placeholder="Enter your full name">
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-position">Position</label>
    <input type="text" name="contact-position" id="contact-position" class="form-input" placeholder="your position">
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="organization">Organization Name</label>
    <input type="text" name="organization" id="organization" class="form-input" placeholder="ex: My Company LLC">
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-user-email">Email</label>
    <input type="email" name="email" id="contact-user-email" class="form-input" placeholder="Enter your email address">
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="phone">Phone Number</label>
    <input type="text" name="phone" id="phone" class="form-input" placeholder="">
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="website">Current Website URL</label>
    <input type="text" name="website" id="website" class="form-input" placeholder="">
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="budget">Product Budget</label>
    <select  name="budget" id="budget" class="form-input" placeholder="">
      <option value="">  </option>
      <option value="Up to $5,000"> Up to $5,000 </option>
      <option value="$5,000 - $10,000"> $5,000 - $10,000 </option>
      <option value="$10,000 - $25,000"> $10,000 - $25,000 </option>
      <option value="$25,000 - $50,000"> $25,000 - $50,000 </option>
      <option value="$50,000 - $1000,000"> $50,000 - $1000,000 </option>
      <option value="$100,000 - $250,000"> $100,000 - $250,000 </option>
      <option value="$250,000+"> $250,000+ </option>
    </select>
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="channel">How did you hear about us?</label>
    <select  name="channel" id="channel" class="form-input" placeholder="">
      <option value="">  </option>
      <option value="Google"> Google </option>
      <option value="Linkedin"> Linkedin </option>
      <option value="Facebook"> Facebook </option>
      <option value="Friend"> Friend </option>
      <option value="Other"> Other </option>
    </select>
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-message">Message</label>
    <textarea name="message" id="contact-message" class="form-textarea" rows="5" placeholder="Enter your message"></textarea>
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <input type="hidden" name="form-name" value="QuoteForm" />
  <p class="form-row form-submit">
    <button type="submit" class="button">Send Message</button>
  </p>
</form><!-- .contact-form -->
